body {
	font-family: 'Open Sans', sans-serif;
	color: #333;
	min-width: 380px;
	max-width: 1000px;
}
a {
	color: #333;
}
a:hover {
	color: #000;
	text-decoration: none;
}
.main {
	margin: 10px;
}
textarea {
	width: 100%;
	font-size: 14px;
}
.date {
	background: #4c72a5;
	padding: 4px;
	text-align: center;
	width: 60px;
}
.date_m {
	text-transform: uppercase;
}
.date_d {
	font-size: 65px;
	line-height: 50px;
	color: #fff;
}
.table {
	width: 100%;
}
.note_text:hover {
	background: #c2d8f5;
}
.note_text {
	border: 1px solid #4c72a5;
}
.nodec_link {
	text-decoration: none;
}